# Python 관련
__pycache__/
.venv/
venv/

# 환경 변수
.env

# OS/IDE 관련
.DS_Store
*.swp
*.tmp

# 디렉토리 관련
ocr-service/docs/

# 파일 관련
speech-service/audio/
speech-service/output/
*.wav
*.pem
*.crt

# 로그 관련
plamingo/log/
plamingo/outout/